<script lang="ts">
    export let buttonText: string;
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    function dispatchClick() {
        dispatch("click");
    }
</script>

<button on:click={dispatchClick}>{buttonText}</button>

<style>
    button {
        width: 100px;
        height: 30;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        background-color: #ffaaaa;
    }
</style>
