<script lang="ts">
    export let value: number;

    import Button from "./Button.svelte";

    function incrementValue() {
        value++;
    }

    function decrementValue() {
        value--;
    }
</script>

<div>
    <p>Value is: {value}</p>

    <Button on:click={incrementValue} buttonText="+" />
    <Button on:click={decrementValue} buttonText="-" />
</div>
